<%- include("./partials/header") %>
<div class="forgetmail w-full h-screen bg-pink-100 p-1">
    <div class="mail w-1/3  ml-[36%] mt-10 bg-zinc-500 p-5 rounded-lg">
        <h1 class="text-white text-2xl capitalize text-center mb-5 font-bold">forget password !</h1>
        <form action="/forget-password/<%=id%>" method="post">
            <input type="password" name="password" id="" placeholder="enter new password" class="w-full p-2 text-3xl border-2 border-black mb-5 rounded-lg">
            <input type="submit" name="" id="" class="px-10 py-2 ml-[38%] bg-blue-500 rounded-lg text-white font-semibold px-4 text-2xl border-2 border-black">
        </form>

    </div>
     
</div>


<%- include("./partials/footer") %>