<%- include("./partials/header")%>
<div class="main  text-white font-[foldit]">
  <%- include("./partials/nav")%>
  <div class="firstpage w-full h-screen flex object-cover " >
    <img src="/images/eric-patterson-1.jpg" alt="" class="w-full relative ">
    <div class="overlay w-full h-screen backdrop-brightness-50 absolute z-10 "></div>
    <div class="leading-tight w-1/2 h-1/2 absolute text-[60px] uppercase translate-x-1/2 translate-y-1/2 z-20">
      <h1>together we <br>     
        <span class="opacity-0">.........  </span>rein<span class="text-blue-500 font-bold">v</span>ented</h1>
        <button class="hover:bg-transparent text-lg rounded-lg border-2 border-black bg-blue-400 ml-60"><a href="/main-page">explore more</a></button>
    </div>


  </div>


</div>



<%- include("./partials/footer")%>