<%-include("./partials/header")%>
<%-include("./partials/nav")%>
<div class="mainpage w-full h-full bg-zinc-900  text-white overflow-hidden p-1 ">
    
    <div class="firstpage w-full  flex justify-center items-center gap-10 ">
        <div class="firstleft text-7xl uppercase text-white font-bold  ">
            <h1 >together we <br> <span class="opacity-0">......</span> rein<span class="text-blue-600 "><div class="vee inline w-4 h-4 object-cover"><img src="/images/in-en.png" alt="" class="w-12 h-12 object-cover inline rotate-90"></div></span>ented</h1>
        </div>
        <!--  -->
        <div class="firstright text-xl w-1/2 leading-10 lowercase text-white font-bold  p-5 ">
            <h1>Reinvention is about breaking industry norms. Reimagining iconic brands. Bringing new products, ideas and ways of working to life with emerging technology. Bringing new products, ideas and ways of working to life with emerging technology.ideas and ways of working to life with emerging technology.</h1>
        </div>

    </div>
    <!--  -->
    <div class="second w-full h-screen  bg-zinc-900">
        <div class="upper w-full h-1/2  p-2 flex gap-5 ">
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://plus.unsplash.com/premium_photo-1661313659200-9aebf50d714d?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dGhlJTIwYmFnc3xlbnwwfHwwfHx8MA%3D%3D" alt="" class=" contentimg w-full backdrop-opacity-10 backdrop-brightness-50">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-white text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-white text-xl font-semibold"> Varied designs (shoulder bags, crossbody, clutches), stylish, functional.</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">For bags that you'll carry for extended periods, such as backpacks and messenger bags.</p>
                        <hr>
                        <a href="/product/allproducts">
                    <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[64%] mt-1 opacity-0">explore</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://plus.unsplash.com/premium_photo-1670985781678-c7a965c9dc6f?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dGhlJTIwYmFnc3xlbnwwfHwwfHx8MA%3D%3D" alt="" class=" contentimg w-full backdrop-opacity-10">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-sm font-semibold">Ensure the bag can accommodate all your essentials without being too large or heavy.</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 "> material, and style, you can find a bag that not only serves its function but also complements your personal style. </p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://plus.unsplash.com/premium_photo-1673481767533-60901d9146ad?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHRoZSUyMGJhZ3N8ZW58MHx8MHx8fDA%3D" alt="" class=" contentimg w-full backdrop-opacity-10">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://plus.unsplash.com/premium_photo-1714226832374-c7191c48de7e?dpr=2&w=306&auto=format&fit=crop&q=60&crop=entropy&cs=tinysrgb&fm=jpg&ixid=M3wxMjA3fDB8MXxzZWFyY2h8N3x8dGhlJTIwYmFnc3xlbnwwfDB8fHwxNzE2NjY2MjAyfDE&ixlib=rb-4.0.3" alt="" class=" contentimg w-full backdrop-opacity-10">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="down w-full h-1/2 p-2 flex gap-5 mt-10 ">
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative backdrop-brightness-10">
                <img src="https://images.unsplash.com/photo-1595777457583-95e059d581b8?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZHJlc3N8ZW58MHx8MHx8fDA%3D" alt="" class=" contentimg w-full  backdrop-brightness-20">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://images.unsplash.com/photo-1539008835657-9e8e9680c956?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZHJlc3N8ZW58MHx8MHx8fDA%3D" alt="" class=" contentimg w-full backdrop-opacity-10">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://images.unsplash.com/photo-1550639525-c97d455acf70?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZHJlc3N8ZW58MHx8MHx8fDA%3D" alt="" class=" contentimg w-full backdrop-opacity-10">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            <div class="content01 bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://images.unsplash.com/photo-1609357605129-26f69add5d6e?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRyZXNzfGVufDB8fDB8fHww" alt="" class=" contentimg w-full">
                <div class=" topcontent  absolute text-black capitalize p-2">
                    <h1 class=" text-white  text-xl font-bold">case study</h1><br>
                    <p class=" text-white  text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>
                    <div class="slide  ml-[101%] w-full">
                        <p class="element leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                        <hr>
                        <a href="/product/allproducts">
                            <button class="elebtn border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                                </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!--  -->
    <div class="third w-full h-96 flex justify-center  p-10">
        <div class="text36 w-3/5 mt-20">
            <h1 class=" text-8xl font-bold text-white uppercase text-center font-[foldit]">36 value</h1>
            <p class="text-2xl text-center font-semibold">Every day, we embrace change and create value for all our stakeholders, in every part of the world.</p>

        </div>
         
    </div>
    <!--  -->
    <div class="fourth w-full h-screen flex overflow-hidden ">
        <div class="slideleftimage w-1/2 h-4/5 flex gap-10   object-contain  p-10  overflow-hidden">
         <div class="length w-[300%] flex gap-10   object-contain">

            <img src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhZ3xlbnwwfHwwfHx8MA%3D%3D" alt="" class="imges w-full rounded-lg">
            <img src="https://plus.unsplash.com/premium_photo-1671028547420-a541b5a1243e?dpr=2&w=306&auto=format&fit=crop&q=60&crop=entropy&cs=tinysrgb&fm=jpg&ixid=M3wxMjA3fDB8MXxzZWFyY2h8OXx8YmxjayUyMGJhY2tncm9vdW5nJTIwYmFnJTIwaW1hZ2VzfGVufDB8MHx8fDE3MTY4ODE4OTB8MQ&ixlib=rb-4.0.3" alt="" class="imges w-full rounded-lg">
            <img src="https://images.unsplash.com/photo-1685926942337-aff9f087a8b8?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsY2slMjBiYWNrZ3Jvb3VuZyUyMCUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="" class="imges w-full rounded-lg">
            
         </div>
        </div>
        <div class="sliderighttext w-1/2 h-4/5  p-10 flex gap-10  overflow-hidden ">
            <div class="text  w-full h-full  rounded-lg p-10 flex-col shrink-0">
                <h1 class="text-3xl font-bold">Accenture’s responsible AI blueprint</h1>
                <p class="text-2xl font-semibold">Accenture has operationalized ethical AI in our company. Now, our responsible AI program is also helping clients around the world use AI intelligently and responsibly.</p>
                <br>
                <a href="" class="  rounded-lg text-xl font-semibold "><button>Read More -></button></a>
            </div>

            <div class="text w-full h-full rounded-lg p-10 flex-col shrink-0">
                <h1 class="text-3xl font-bold">Accenture’s responsible AI blueprint</h1>
                <p class="text-2xl font-semibold">Accenture has operationalized ethical AI in our company. Now, our responsible AI program is also helping clients around the world use AI intelligently and responsibly.</p>
                <br>
                <a href="" class="  rounded-lg text-xl font-semibold "><button>Read More -></button></a>
            </div>

            <div class="text w-full h-full rounded-lg p-10 flex-col shrink-0">
                <h1 class="text-3xl font-bold">Accenture’s responsible AI blueprint</h1>
                <p class="text-2xl font-semibold">Accenture has operationalized ethical AI in our company. Now, our responsible AI program is also helping clients around the world use AI intelligently and responsibly.</p>
                <br>
                <a href="" class="  rounded-lg text-xl font-semibold "><button>Read More -></button></a>
            </div>
            

        </div>
        
    </div>
    
    <!--  -->
    <div class="five w-full h-full  ">
        <div class="fivetext ">
            <h1 class="text-center text-8xl text-white font-[foldit]">Global recognition and awards</h1>
        </div>

    </div>
    <!--  -->
    <div class="six w-full h-full p-10 ml-10 ">
        <div class="six01 w-1/2 h-96  mb-10 relative  overflow-hidden hover:">
           <div class="p-10 ">
            
           <div class="imgdiv w-full h-full object-cover absolute opacity-[0.8] left-0 top-[85%] ">
            <img src="https://images.unsplash.com/photo-1653389523425-c1f572a4c3f0?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmxjayUyMGJhY2tncm9vdW5nJTIwJTIwaW1hZ2VzfGVufDB8fDB8fHww" alt="" class="w-full object-cover">
            <div class="new1 absolute left-0 top-0 opacity-1 p-4">
                <h1 class="text-3xl capitalize text-center font-[sens-serif] ">An Ethical Business Leader</h1>

             <p class="text-2xl font-semibold text-start leading-6  ">Fairness: Treats all stakeholders fairly and equally, without bias or favoritism.
                <br>
                <br>
                Integrity: Acts with honesty, transparency, and authenticity, and is accountable for their actions.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="" class="border-2 border-black rounded-lg px-3 py-2 ml-96 text-black font-bold hover:bg-blue-200">go for it !</a>
            </div>
           
           </div>
           </div>
        </div>
        <div class="six01 w-1/2 h-96  mb-10 relative  overflow-hidden ml-[40%] hover:">
            <div class="p-10 ">
             
            <div class="imgdiv01 w-full h-full object-cover absolute opacity-[0.8] left-0 top-[85%] ">
             <img src="https://plus.unsplash.com/premium_photo-1681487929886-4c16ad2f2387?dpr=2&w=306&auto=format&fit=crop&q=60&crop=entropy&cs=tinysrgb&fm=jpg&ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTF8fHRoZSUyMGJhZ3xlbnwwfDB8fHwxNzE3NjU2NjkyfDE&ixlib=rb-4.0.3" alt="" class="w-full object-cover">
             <div class="new1 absolute left-0 top-0 opacity-1 p-4">
                 <h1 class="text-3xl capitalize text-center font-[sens-serif] ">An Ethical Business Leader</h1>
 
              <p class="text-2xl font-semibold text-start leading-6  ">Fairness: Treats all stakeholders fairly and equally, without bias or favoritism.
                 <br>
                 <br>
                 Integrity: Acts with honesty, transparency, and authenticity, and is accountable for their actions.</p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <a href="" class="border-2 border-black rounded-lg px-3 py-2 ml-96 text-black font-bold hover:bg-blue-200">go for it !</a>
             </div>
            
            </div>
            </div>
         </div>
         <div class="six01 w-1/2 h-96  mb-10 relative  overflow-hidden hover:">
            <div class="p-10 ">
             
            <div class="imgdiv02 w-full h-full object-cover absolute opacity-[0.8] left-0 top-[85%] ">
             <img src="https://images.unsplash.com/photo-1484328256245-34b71758c30b?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRoZSUyMGJhZ3xlbnwwfHwwfHx8MA%3D%3D" alt="" class="w-full object-cover">
             <div class="new1 absolute left-0 top-0 opacity-1 p-4">
                 <h1 class="text-3xl capitalize text-center font-[sens-serif] font-semibold text-black">An Ethical Business Leader</h1>
 
              <p class="text-2xl font-semibold text-start leading-6  ">Fairness: Treats all stakeholders fairly and equally, without bias or favoritism.
                 <br>
                 <br>
                 Integrity: Acts with honesty, transparency, and authenticity, and is accountable for their actions.</p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <a href="" class="border-2 border-black rounded-lg px-3 py-2 ml-96 text-black font-bold hover:bg-blue-200">go for it !</a>
             </div>
            
            </div>
            </div>
         </div>
    </div>
    <!--  -->
    <div class="seven w-full bg-blue-100 text-black h-52 flex justify-between ">
        <div class="left w-1/3 h-full  text-start p-4">
            <p class="text-2xl font-bold">
            Preference Center
                <br>
            Careers
            <br>
            About Us <br>
            Contact Us <br>
            Locations <br>
            Sitemap <br>
            </p>           
        </div>
        <div class="right  w-1/2 h-full text-start text-xl p-6">
            <a href="https://www.linkedin.com/in/radheshyam-lodhi-227171199/"><i class="ri-linkedin-box-fill text-3xl"></i>-https://www.linkedin.com/in/radheshyam-lodhi-227171199/</i></a>
            <br>
            <a href="https://github.com/lodhiradhe123"><i class="ri-github-line text-3xl">-https://github.com/lodhiradhe123</i></a>
            <br>
            <br>
            
            <a href=""><i class="ri-instagram-line text-3xl"> -radheshyam5228</i></a>
            <br>
            <a href="radheshyamlodhi48@gmail.com"><i class="ri-mail-line text-2xl inline">-radheshyamlodhi48@gmail.com</i></a>
        </div>

    </div>
</div>

<%-include("./partials/footer")%>