<%-include("./partials/header")%>
<div class="mainpage w-full h-full bg-zinc-500">
    <%-include("./partials/nav")%>
    <div class="first w-full h-full flex justify-center items-center gap-10 ">
        <div class="left text-7xl uppercase text-white font-bold bg-red-500 ">
            <h1>together we <br> <span class="opacity-0">......</span> rein<span class="text-purple-600">v</span>ented</h1>
        </div>
        <!--  -->
        <div class="right text-xl w-1/2 leading-10 lowercase text-white font-bold  p-5 bg-red-500">
            <h1>Reinvention is about breaking industry norms. Reimagining iconic brands. Bringing new products, ideas and ways of working to life with emerging technology. Bringing new products, ideas and ways of working to life with emerging technology.ideas and ways of working to life with emerging technology.</h1>
        </div>

    </div>
    <!--  -->
    <div class="second w-full h-screen
     bg-blue-200 ">
        <div class="upper w-full h-1/2 bg-red-200 p-2 flex gap-5">
            <div class="content bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden relative">
                <img src="https://images.unsplash.com/photo-1716369414933-feae0ddf91bd?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" alt="" class="w-full">
                <div class="absolute text-black capitalize p-2">
                    <h1 class="text-xl font-bold">case study</h1><br>
                    <p class=" text-xl font-semibold">Creating five-star associate experiences</p>
                    <br>

                    <p class="leading-tight text-white opacity-0 ">Accenture and Marriott International created a new global HR hub that delivers employee experiences as exceptional as the guest experiences that make Marriott, Marriott.....</p>
                    <hr>
                    <button class="border-2 border-black rounded-lg text-white font-bold p-1 ml-[60%] mt-1 opacity-0">explore</button>
                    
                </div>
            </div>
             <div class="content bg-zinc-500 w-1/4 h-full flex object-cover rounded-lg overflow-hidden">
                <img src="https://images.unsplash.com/photo-1716404038063-c4110490124a?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8" alt="" class="w-full">
            </div>
            
        </div>
    </div>

</div>

<%-include("./partials/footer")%>